<style>
    .container {
        margin-left: 70px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    table {
        border-collapse: collapse;
        width: 90%;
    }

    td {
        text-align: left;
        padding: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    td:nth-child(odd) {
        text-align: left;
        background-color: #111111AA;
    }

    td:nth-child(even) {
        text-align: center;
        background-color: #222222AA;
    }

    .header {

        margin: 40px 0;
    }
</style>

<div class = "container">
    <h1 class = "header">Welcome, Admin <p style = "color:red;font-weight: bold"> {{ username }} </p></h1>

    <table>

        <tr>
            <td>Total number of users
            </td>
            <td>{{ usercount }}</td>
        </tr>
        <tr>
            <td>Total number of tasks
            </td>
            <td>{{ taskcount }}</td>
        </tr>
        <tr>
            <td>Number of finished tasks
            </td>
            <td>{{ finishedcount }}</td>
        </tr>
        <tr>
            <td>Total number of feedbacks
            </td>
            <td>{{ feedbackcount }}</td>
        </tr>
    </table>

</div>
