<style>
    .container {
        margin-left: 70px;
        margin-top: 70px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: #333;
        color: #fff;
    }

    th {
        background-color: #444;
        color: #fff;
        border: 1px solid #555;
        padding: 8px;
    }

    td {
        border: 1px solid #555;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #555;
    }

    td:nth-child(1) {
        text-align: left;
        font-weight: 600;
    }

    tr:hover {
        opacity: 0.7;
    }

    th,
    td {
        text-align: center;
        padding: 20px 10px 20px 10px;
    }

    tr {
        transition: 0.5s;
    }

    h5 {
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }
    a{
        color: white;
        text-decoration-line: none;
    }
</style>

<div class = 'container'>
    <div>
        <h5>
            <a href="/user/stats/pdf" class="secondary-title link " >Download Stats as PDF</a>
        </h5>        <table>

            <tr>
                <th></th>
                <th>Tasks Done</th>
                <th>Tasks Failed</th>
                <th>Total</th>
            </tr>
            <tr>
                <td>Today</td>
                {% if today.total !=0 %}
                    <td>{{ today.finished }} ({{ (today.finished/today.total *100)|number_format(2) }}%)</td>
                    <td>{{ today.failed }} ({{ (today.failed/today.total *100 )|number_format(2) }}%)</td>
                    <td>{{ today.total }}</td>
                {% else %}
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                {% endif %}
            </tr>
            <tr>
                <td>Last week</td>
                {% if lastWeek.total !=0 %}
                    <td>{{ lastWeek.finished }} ({{ (lastWeek.finished/lastWeek.total*100)|number_format(2) }}%)
                    </td>
                    <td>{{ lastWeek.failed }} ({{ (lastWeek.failed/lastWeek.total*100)|number_format(2) }}%)</td>
                    <td>{{ lastWeek.total }}</td>
                {% else %}
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                {% endif %}
            </tr>
            <tr>
                <td>Last month</td>
                {% if lastMonth.total !=0 %}
                    <td>{{ lastMonth.finished }} ({{ (lastMonth.finished/lastMonth.total *100)|number_format(2) }}
                                                 %)
                    </td>
                    <td>{{ lastMonth.failed }} ({{ (lastMonth.failed/lastMonth.total *100)|number_format(2) }}%)
                    </td>
                    <td>{{ lastMonth.total }}</td>
                {% else %}
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                {% endif %}
            </tr>
            <tr>
                <td>Pending tasks</td>
                <td></td>
                <td></td>
                <td>{{ pending }}</td>
            </tr>
        </table>
    </div>


</div>